@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Concert+One|Open+Sans|Oswald');
.bar-item {
    display: inline;
    float: left;
    width: 20%;
}

.bar-link {
    display: block;
    padding: 10px;
    background-color: #3b5bb2;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 2.5 0 2.5;
    border-radius: 5px;
}

.bar-link:hover {
    background-color: #6783d1;  
}

#active-page {
    background-color: #7c9aef;
}
h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
}
h2 {
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    color: #3b5bb2;
}

body {
    font-family: "Open Sans", sans-serif;
}
.sources-link {
    color: black;
    text-decoration: underline;
}
.sources-link:hover {
    color: #6783d1;
}
.page-title {
    font-size: 48px;
    font-weight: 400;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
.open-ssd-img {
   max-width: 350px;
    width: 50%;
}

.price-graph {
    width: 80%;
    max-width: 700px;
}

.s-v-h-img-cont img {
    width: 50%;
    max-width: 450px;
    
}

.s-v-h-graph-img {
    width: 50%;
    max-width: 400px;
}



.s-v-h-vs-img {
    width: 60%;
    max-width: 600px;
    padding: 0;
    margin: 0;
}

#img-cap-cont {
    display: block;
    position: relative;
    
}

.img-caption {
    position: absolute;
    left: 350px;
    float: left;
    top: 0;
    margin: 0;
    padding: 0;
    
}

.calc-info {
    color: gray;
    font-size: 10px;
    margin-top: 0;
}

.speed-calc-table {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.2em;
}
.speed-calc-table tr {
    border: 1px solid black;
    border-collapse: collapse;
}
.speed-calc-table td {
    border: 1px solid black;
    border-collapse: collapse;
}
.speed-calc-table th {
    border: 1px solid black;
    border-collapse: collapse;
    
    padding: 12px;
    background-color: #3b5bb2;
    color: white;
}

.s-c-t-lm-c {
    font-size: 0.75em;
    
}

.s-c-input, .s-c-d-menu, .s-c-button {
    font-size: 1em;
    
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: dimgray;
    text-align: center;
    font-size: 12px;
    clear: both;
}
    
.footer-link {
/*    color: #3b5bb2;*/
    color: dimgray;
    padding: 10px 20px;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.footer-link:hover {
    color: #6783d1;
}


.copyright {
    font-size: 12px;
    padding-top: 1px;
    margin-top: 8px;
    margin-bottom: 0;
}
.code-link {
    color: dimgray;
    text-decoration: underline;
}
.code-link:hover {
    color: #6783d1;
}

.footer-desc {
    margin-top: 1px;
    padding-top: 0;
}
